{
    "parser": "@babel/eslint-parser",
    "rules": {
        "react/prop-types": 1,
        "react/display-name": [
            0,
            {
                "ignoreTranspilerName": true,
            },
        ],
        "react-hooks/exhaustive-deps": "error", // Checks effect dependencies
        "no-prototype-builtins": "off",
        "security/detect-possible-timing-attacks": "error",
        "security/detect-child-process": "error",
        "security/detect-eval-with-expression": "error",
        "security/detect-new-buffer": "error",
        "security/detect-no-csrf-before-method-override": "error",
        "risxss/catch-potential-xss-react": [
            "error",
            {
                "trustedLibraries": ["@commonUtils"],
            },
        ],
        "react/jsx-no-target-blank": [
            0,
            {
                "enforceDynamicLinks": "never",
            },
        ],
        "react-compiler/react-compiler": "error",
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
    },
    "globals": {
        "expect": true,
        "__non_webpack_require__": true,
        "logger": "readonly",
        "AppCallbacks": "readonly",
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true,
        },
        "babelOptions": {
            "configFile": "./babel.config.json",
        },
        "ecmaVersion": 6,
    },
    "plugins": ["babel", "react", "react-hooks", "security", "risxss", "eslint-plugin-react-compiler"],
    "settings": {
        "react": {
            "createClass": "createReactClass",
            "pragma": "React",
            "version": "detect",
        },
        "propWrapperFunctions": [
            "forbidExtraProps",
            {
                "property": "freeze",
                "object": "Object",
            },
            {
                "property": "myFavoriteWrapper",
            },
        ],
        "linkComponents": [
            "Hyperlink",
            {
                "name": "Link",
                "linkAttribute": "to",
            },
        ],
    },
}
