node_modules/*
router/*
scripts/*
!scripts/release/
!scripts/release/sync-cca-templates.js
server/*
webpack/*
dist/*

caching.js
index.js
logger.js
template/build

apps/docs/config.json
apps/docs/server/config.json
apps/docs/login-page/src/config.json
apps/docs/static/js/config.js
apps/docs/.docusaurus/
apps/docs/public-docs/
apps/docs/build/
packages/*/dist/
packages/catalyst-core/template/logs/
packages/catalyst-core/template/playwright-report/
packages/catalyst-core/template/test-results/
