name: CI Pipeline

on:
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: mcr.microsoft.com/playwright:v1.52.0-noble

        steps:
            - uses: actions/checkout@v4
            - name: Install rsync
              if: runner.os == 'Linux' 
              run: apt-get update && apt-get install -y rsync

            - name: Build and Test
              run: node -v && chmod +x ./test.sh && ./test.sh
